<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kaleidoscope-Swift-CH0.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH6.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Kaleidoscope-Swift-CH7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AE1BC192BB3371900584F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE4D92E2BBE01CD00A893B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE4D9572BC0A53600A893B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE4D9752BC19BCC00A893B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE4D9922BC1D9AA00A893B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE4D9AF2BC4012000A893B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
